.about {
  box-sizing: border-box;
  width: 100%; 
  padding: 40px 5% 20px;
}

.about .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .about-title {
  font-size: 35px;
  color: #fff;
  text-align: center; /* ensures title is centered */
}


.about .about-title span {
  color: #37f0d0;
}

.about .about-content {
  /* max-width: 1000px;
  width: 100%;
  padding: 15px;
  background-color: rgb(54, 65, 71);
  color: #fff;
  border: 1px solid rgb(0, 25, 45);
  border-radius: 8px;
  letter-spacing: 1px;
  margin: auto; centers block */
   background:rgba(255,255,255,.05);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,.1);
    border-radius:20px;
    padding:35px;
}

.about .about-text {
 
  text-align: justify;
  font-weight: 400;
  color:#ddd;
  line-height:2;
  font-size:17px;
}

.about .about-text b {
  
  color:#00f5d4;
    font-weight:600;
}



/* download resume */
.about .download-resume{
  text-align:center;
    margin:40px 0;
}
.btn-resume {
  width: auto;
  align-items: center;
  justify-content: center;
   display:inline-flex;
    align-items:center;
    gap:10px;
    padding:14px 28px;
    background:#00f5d4;
    color:#081b29;
    border-radius:40px;
    text-decoration:none;
    font-weight:700;
    transition:.4s ease;
}

.btn-resume:hover {
  background:#00f5d420;
  border:2px solid #00f5d4;
    color:#00f5d4;
  transform: scale(1.0);
}

/* education, experiences and certifications details */
.about .about-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}


.about-details .card {
    min-height:350px;
    background:rgba(255,255,255,.05);
    backdrop-filter:blur(15px);
    border-radius:18px;
    padding:28px;
    border:1px solid rgba(255,255,255,.08);
    transition:.4s;
}

.about-details .card:hover {
 transform:translateY(-8px);
    box-shadow:0 0 30px rgba(0,245,212,.25);
}

.about-details .card-title {
  font-size: 24px;
  font-weight: 700;
  color:#00f5d4;
  margin-bottom:2px;
  text-align:center;
  

}

.about-details .experience-item {
  border-left:3px solid #00f5d4;
    padding-left:15px;
    margin-bottom:25px;
    position:relative;
 }
.about-details .experience-item ::before {
  content:"";
    width:12px;
    height:12px;
    background:#00f5d4;
    border-radius:50%;
    position:absolute;
    left:-7px;
    top:5px;
 }

.about-details .experience-item:last-child {
  margin-bottom: 0; /* remove extra gap after last */
}

.about-details .experience-year {
  display: block;
  font-size: 14px;
  color:#ccc;  
  margin-bottom: 5px;
  margin-top: 2px;
}


.about-details .card-subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-top: 12px;
  color: #fff;
}

.about-details .card-text {
  font-size: 15px;
  margin: 5px 0 12px 0;
  color:#00f5d4;
}

.about-details .list-group-item {
  background: transparent;
  border: none;
  padding: 8px 0;
  color: #dcdcdc;
  font-size: 15px;
  border-bottom:1px solid rgba(255,255,255,.08);
  transition: color 0.3s ease;
  position: relative;
}

.about-details .list-group-item::before {
   content:"";
    width:8px;
    height:8px;
    background:#00f5d4;
    border-radius:50%;
    position:absolute;
    left: -1.3rem;
    top:1rem;
    box-shadow: 0 0 5px #00f5d4;
   
}


.about-details .list-group-item:hover {
  color: #37f0d0;
  cursor: pointer;
}


/* Mobile view -576 */
@media (max-width:576px) {
  .about {
    padding: 20px;
  }

  .about .about-title {
    font-size: 28px;
  }

  .about .about-content {
    width: 100%;
    padding: 12px;
  }
  .about .about-text {
  font-size: 16px;
  text-align: justify;
  font-weight: 400;
}
.about .about-details {
    flex-direction: column;
    align-items: center;  
    gap: 20px;            
  }

  .about-details .card {
    width: 100%;
    max-width: 90%;       
    margin: 0 auto;       
  }
}
/* Mobile Responsive- 768  */
@media (max-width: 768px) {
.about .about-details {
    flex-direction: column;
    align-items: center;  
    gap: 20px;            
  }

  .about-details .card {
    width: 100%;
    max-width: 90%;       
    margin: 0 auto;       
  }
} 