.home{
    display:flex;
    align-items:center;
    
    padding:80px 8%;
}

/* Hero */



.hero-content h5{
    color:#00f5d4;
    margin-bottom:10px;
    font-size:22px;
}

.hero-content h1{
    color:white;
    font-size:58px;
    font-weight:700;
    margin-bottom:10px;
}

.hero-content h1 span{
    color:#00f5d4;
}

.hero-content h3{
    color:white;
    font-size:32px;
    margin-bottom:20px;
}

.typing{
    color:#00f5d4;
    margin-left:10px;
}

.cursor{
    animation:blink .8s infinite;
}

@keyframes blink{
    50%{
        opacity:0;
    }
}

.hero-content p{

    color:#d6d6d6;
    line-height:1.9;
    font-size:18px;
    max-width:620px;
    margin-bottom:35px;
    letter-spacing: 1px;
}

/* Social */

.social-icons{

    display:flex;
    gap:18px;
    margin-bottom:35px;
}

.social-icons a{

    width:55px;
    height:55px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    background:#00f5d420;
    border:1px solid #00f5d4;
    color:#00f5d4;
    font-size:25px;
    transition:.4s;
    text-decoration:none;
}

.social-icons a:hover{

    background:#00f5d4;
    color:#000;
    transform:translateY(-8px);
    box-shadow:0 0 20px #00f5d4;
}

/* Buttons */

.hero-buttons{

    display:flex;
    gap:20px;
}

.hero-buttons a{

    text-decoration:none;
    padding:14px 30px;
    border-radius:40px;
    background:#00f5d4;
    color:#081b29;
    font-weight:700;
    font-size: large;
    transition:all .4s;
}

.hero-buttons a:hover{

    background:#00f5d420;
    border:2px solid #00f5d4;
    color:#00f5d4;
    
}

/* Image */

.profile-image{

    display:flex;
    justify-content:flex-end;
    align-items:center;
    
   
}

.profile-image img{

    width:380px;
    height:380px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #00f5d4;
    box-shadow:
    0 0 30px rgba(0,245,212,.5),
    0 0 70px rgba(0,245,212,.2);
    animation:float 4s ease-in-out infinite;
}

@keyframes float{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0);
    }
}

/* Tablet */

@media(max-width:992px){

.home{

    padding:70px 30px;
    text-align:center;
    
}

.hero-content{

    margin-bottom:50px;
}

.hero-content h1{

    font-size:48px;
}

.hero-content h3{

    font-size:28px;
}

.social-icons{

    justify-content:center;
}

.hero-buttons{

    justify-content:center;
}
.profile-image{

    display:flex;
    flex-direction: column;
}

.profile-image img{

    width:320px;
    height:320px;
}

}

/* Mobile */

@media(max-width:576px){

.home{

    padding:60px 20px;
    
}


.hero-content h5{

    font-size:18px;
}

.hero-content h1{

    font-size:34px;
}

.hero-content h3{

    font-size:22px;
    line-height:1.6;
}

.hero-content p{

    font-size:16px;
}

.social-icons{

    gap:12px;
}

.social-icons a{

    width:45px;
    height:45px;
    font-size:20px;
}

.hero-buttons{

    flex-direction:column;
}

.hero-buttons a{

    width:100%;
    text-align:center;
}

.profile-image{

    display:flex;
    flex-direction: column;
}

.profile-image img{
    
    width:260px;
    height:260px;
}

}