
.navbar{
    background-color:rgb(1, 25, 40);  
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(55,240,208,.15);
    padding: 14px 0;
    
}

.navbar .navbar-brand {
    color: #37f0d0;
  font-size: 1.6rem;
  font-weight: 700;

}
.navbar-brand span:last-child{
    margin-left: 10px;
    background: linear-gradient(136deg,#fff ,#37f0d0 );
    background-clip:text;
   color:transparent;
}
.navbar .navbar-collapse .navbar-nav{
    font-size: 18px;
    font-weight: 600;
    
}
.navbar .navbar-collapse .navbar-nav .nav-item{
    padding: 0px 10px ;
}
.navbar .navbar-collapse .navbar-nav .nav-item 
.nav-link{
    color: #fff;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover{
    color:#37f0d0;
    border-radius:16px;
    background:rgba(55,240,208,.08);
}
.active{
   border-radius:16px;
    background:rgba(55,240,208,.08);
     color: #37f0d0 !important; 
}


.navbar .container-fluid button i{
    color: #37f0d0;
    font-weight: bold;
    font-size: 25px;
}


